<template>
  <div class="about">
    <div class="content">
      <h1>Über</h1>
      <p>Die Webpräsenz wurde im Auftrag des ChaosOlymp.DE-Teams entwickelt von <a href="https://deeprobin.de">Robin Lindner</a>.</p>
      <p>Diese Website besteht aus einem Frontend, welches mithilfe von <a href="https://vuejs.org/">Vue</a> erschaffen wurde. Zudem befindet sich hinter diesem Frontend ein ausgeklügeltest System, welches in der Programmiersprache <a href="https://www.rust-lang.org/">Rust</a> geschrieben wurde.</p>
      <p>Bei Interesse oder Fragen im Fachbereich Web-Entwicklung schreiben Sie mir gerne eine Mail an: <a href="mailto:robin@deeprobin.de?subject=Anfrage+Webentwicklung">robin@deeprobin.de</a>. Aufgrund des hohen Anfragevolumens, wird ihre Anfrage in maximal 72 Stunden bearbeitet. </p>
      <br/>
      <br/>
      <br/>
      <div>Freundliche Grüße</div>
      <div>Robin Lindner (~DeepRobin)</div>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.content {
    margin: auto;
    
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }
    
    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
</style>