<template>
  <div class="ausstellungen">
    <h1>Ausstellungen</h1>
    <div>Noch kein Inhalt</div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.content {
  
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
</style>