<template>
  <div class="bildstockwanderweg">
    <div class="content">
    <h1>Bildstockwanderweg</h1>
        <p>Der Heimatverein des Messklingenschlapp hat sich der Bewahrung und Sanierung der Bildstöcke der Gemeinde verschrieben. Einen Überblick über die schönsten Bildstöcke können Sie über den Bildstockwanderweg gewinnen.</p>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.content {
    margin: auto;

    
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
</style>