<template>
  <div class="buergerbrotbacken">
    <div class="content">
    <h1>Bürgerbrotbacken</h1>
        <img class="preview-image" src="../assets/backtag.jpg"/>
        <div>Jeden ersten Samstag im Monat heizen Mitglieder des Vereins den Holzbackofen des Vereins an. Bürgerinnen und Bürger können ihre Teiglinge zum Ausbacken vorbei bringen. </div>
        <div>Nicht nur Brot, sondern auch Pizza und Kuchen ist möglich. Die aktuellen Termine entnehmen sie dieser Website unter Termine, dem Igersheimer Gemeindeboten sowie die Fränkischen Nachrichten. </div>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.content {
    margin: auto;
    
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }

    .preview-image {
      width: 100%;
    }
  }
</style>