<template>
    <div class="calendar-container">
    <div class="calendar-header">
        <h1><font-awesome-icon :icon="['fa', 'arrow-left']" @click="calendarGoBack()"/> {{ this.getMonthName(this.month) }} <font-awesome-icon :icon="['fa', 'arrow-right']" @click="calendarGoForward()"/></h1>
        <p>{{ this.year }}</p>
    </div>
    <div class="calendar" >
        <div v-for="item in this.getDays()" :key="item.type === 'day-name' ? item.name : (item.month * 30 + item.day)" @click="handleClick(item)" :class="(item.type === 'day-name') ? 'day-name' : (item.disabled ? 'day day--disabled' : 'day')">{{ (item.type === 'day-name') ? item.name : item.day }} <div v-if="item.type === 'day'">{{ item.title }} </div></div>
    </div>
</div>
</template>
<script>
export default {
  name: 'Calendar',
  components: {
  },
  data: function () {
    return {
      month: null,
      year: null,
    }
  },
  methods: {
    calendarGoForward: function () {
      if(this.month == 11) {
        this.month = 0;
        this.year++;
      } else {
        this.month++;
      }
    },
    calendarGoBack: function () {
      if(this.month == 0) {
        this.month = 11;
        this.year--;
      } else {
        this.month--;
      }
    },
    getMonthName(month) {
      const monthNames = ["Januar", "Februar", "März", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember"];
      return monthNames[month]
    },
    getDays() {
      const dayNames = ["Mon", "Die", "Mit", "Don", "Fre", "Sam", "Son"]
      const dayArray = [];
      
      dayNames.forEach((value) => {
        dayArray.push({
          type: "day-name",
          name: value,
        })
      })

      const lastMonthDayAmount = this.getDaysInMonth(this.month == 0 ? 11 : (this.month - 1), this.year);
      let i;
      const firstDay = new Date(this.year, this.month, 1);
      
      for(i = (lastMonthDayAmount - (firstDay.getDay() - 2)); i <= lastMonthDayAmount; i++) {
        dayArray.push(
          {
            type: "day",
            month: this.month == 0 ? 11 : (this.month - 1),
            day: i,
            title: "",
            disabled: true,
          }
        )
      }

      const dayAmount = this.getDaysInMonth(this.month, this.year);
      for (i = 1; i <= dayAmount; i++) { 
        dayArray.push(
          {
            type: "day",
            month: this.month,
            day: i,
            title: "",
            description: "",
            location: "",
            start: Date.now(),
            end: Date.now(),
            disabled: false,
          }
        )
      }
      if(dayArray.length < (42 + 1)) {
        let i;
        for(i = 1; i <= (42 - dayArray.length); i++) {
          dayArray.push(
          {
            type: "day",
            month: this.month == 11 ? 0 : (this.month + 1),
            day: i,
            description: "",
            location: "",
            start: Date.now(),
            end: Date.now(),
            disabled: true,
          }
        )
        }
      }
      return dayArray;
    },
    getDaysInMonth(month, year) {
      return new Date(year, month, 0).getDate();
    },
    handleClick(item) {
      if(item.type === 'day') {
        if(item.title == "") {
          this.$swal({
            title: 'Kein Kalendareintrag',
            text: "Unter diesem Datum wurde kein Kalendareintrag gefunden",
          });
        } else {
          this.$swal({
            title: "Kalendereintrag: " + item.title,
            html: "Beschreibung: " + item.description + "<br/>Ort: " + item.location + "<br/>Beginn: " + item.start.toLocaleDateString() + " um " + item.start.toLocaleTimeString() + "<br/>Ende: " + item.end.toLocaleDateString() + " um " + item.end.toLocaleTimeString(),
          });
        }
      }
    }
  },
  created: function() {
    const date = new Date();
    this.month = date.getMonth();
    this.year = date.getFullYear();
  }
}
</script>

<style lang="scss" scoped>
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #f5f7fa;
  padding: 40px 0;
  box-sizing: border-box;
  font-family: Montserrat, "sans-serif";
  color: #51565d;
}

.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-template-rows: 50px;
  grid-auto-rows: 120px;
  overflow: auto;
  
  &-container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #fff;
    max-width: 1200px;
  }
  
  &-header {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(to bottom, rgb(250, 251, 253) 0%,rgba(255,255,255,0) 100%);
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    
    h1 {
      margin: 0;
      font-size: 18px;
    }
    
    p {
      margin: 5px 0 0 0;
      font-size: 13px;
      font-weight: 600;
      color: rgba(#51565d, .4);
    }
    
    button {
      background: 0;
      border: 0;
      padding: 0;
      color: rgba(#51565d, .7);
      cursor: pointer;
      outline: 0;
    }
  }
}

.day-name {
  display: inline;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 14px 20px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  cursor: pointer;
  z-index: 1;

  &:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #3498db;
  }

  &-name {
    font-size: 12px;
    text-transform: uppercase;
    color: #99a1a7;
    text-align: center;
    border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    line-height: 50px;
    font-weight: 500;
  }

  &--disabled {
    color: rgba(#98a0a6, 0.6);
    background-color: #ffffff;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    cursor: not-allowed;
  }
}

.task {
  border-left-width: 3px;
  padding: 8px 12px;
  margin: 10px;
  border-left-style: solid;
  font-size: 14px;
  position: relative;

  &--warning {
    border-left-color: #fdb44d;
    grid-column: 4 / span 3;
    grid-row: 3;
    background: #fef0db;
    align-self: center;
    color: darken(#fdb44d, 12%);
    margin-top: -5px;
  }

  &--danger {
    border-left-color: #fa607e;
    grid-column: 2 / span 3;
    grid-row: 3;
    margin-top: 15px;
    background: rgba(#fdc5d0, 0.7);
    align-self: end;
    color: darken(#fa607e, 12%);
  }

  &--info {
    border-left-color: #4786ff;
    grid-column: 6 / span 2;
    grid-row: 5;
    margin-top: 15px;
    background: rgba(#dae7ff, 0.7);
    align-self: end;
    color: darken(#4786ff, 12%);
  }

  &--primary {
    background: #4786ff;
    border: 0;
    border-radius: 4px;
    grid-column: 3 / span 3;
    grid-row: 4;
    align-self: end;
    color: #fff;
    box-shadow: 0 10px 14px rgba(#4786ff, 0.4);
  }

  &__detail {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background: #fff;
    border: 1px solid rgba(166, 168, 179, 0.2);
    color: #000;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow:0 10px 40px rgba(0,0,0,0.08);
    z-index: 2;

    &:after,
    &:before {
      bottom: 100%;
      left: 30%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:before {
      border-bottom-color: rgba(166, 168, 179, 0.2);
      border-width: 8px;
      margin-left: -8px;
    }

    &:after {
      border-bottom-color: #fff;
      border-width: 6px;
      margin-left: -6px;
    }

    h2 {
      font-size: 15px;
      margin: 0;
      color: #51565d;
    }

    p {
      margin-top: 4px;
      font-size: 12px;
      margin-bottom: 0;
      font-weight: 500;
      color: rgba(#51565d, .7);
    }
  }
}

</style>