<template>
  <div class="gassenfest">
    <div class="content">
    <h1>Gassenfest</h1>
        <p>Jedes Jahr im August findet das Igersheimer Gassenfest der Vereine statt.</p>
        <p>Selbstverständlich ist auch der Heimatverein Messkligenschlapp mit einem köstlichen Angebot aus dem Holzbackofen und mehr vertreten. Details werden rechtzeitig unter Termine bekannt gegeben.</p>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.content {
    margin: auto;
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
</style>