<template>
  <div class="home">
    <div class="welcome">Herzlich Willkommen beim Heimatverein Messklingenschlapp Igersheim e.V</div>
    <div class="content">
      <p>Der Heimatverein bewahrt die historischen Traditionen der Gemeinde und deren Bewohner, die hauptsächlich in Handwerk und Landwirtschaft bestanden. Dazu sammelt der Verein Gegenstände und Dokumente handwerklicher Berufe.</p>
      <p>Der Verein betreibt ein Heimatmuseum im Kulturhaus neben der Kirche. In jährlich gestalteten Sonderausstellungen soll diese Tradition für die Zukunft lebendig erhalten werden.</p>
      <p>Zum Verein gehört die Schmiede in Neuses, in der das Schmiedehandwerk und die Lebensweise eines Schmieds aus dem 19. Jahrhundert dargestellt sind. Außerdem besitzt der Verein einen historischen Backofen, der bei besonderen Anlässen und einmal im Monat als "Bürgerbacken" genutzt wird.</p>
      <p>Mit den Aktivitäten möchte der Verein ein Heimatbewusstsein der Bürger vermitteln und fördern</p>
      <br />
      <div>
        <h3>Aktuelle Termine</h3>
        <div class="appointment" v-for="item in this.appointments" v-bind:key="item.date">
          <span class="date">{{ item.date }}</span>
          <span class="title">{{ item.title }}</span>
        </div>
        <router-link to="/kalender/">
          <button class="show-more">Mehr ...</button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { CalendarGateway } from "@/gateways/http/calendar.gateway";
import { ServerGateway } from "@/gateways/http/server.gateway";
export default {
  name: "Home",
  data: function () {
    return {
      appointments: [
        {
          date: "1. Jan",
          title: "Dummy Termin",
        },
        {
          date: "4. Jan",
          title: "Dummy Termin",
        },
        {
          date: "20. Feb",
          title: "Dummy Termin",
        },
        {
          date: "1. Mai",
          title: "Dummy Termin",
        },
      ],
      calendarGateway: undefined,
    };
  },
  components: {},
  mounted() {
    /*
    const gateway = new ServerGateway(null);
    this.calendarGateway = new CalendarGateway(gateway);
    this.calendarGateway.getNextEntries(4).then((entries) => {
      const array = [];
      for (const entry of entries) {
        array.push({
          date: entry.start,
          title: entry.title,
        });
      }
      this.appointments = array;
    });
    */
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.home {
  .welcome {
    color: #e74c3c;
    font-weight: 700;
    font-family: "Amatic SC", cursive;
    font-size: 24pt;
  }

  .content {
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
  .appointment {
    display: flex;
    padding: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #95a5a6;
    .date {
      margin-right: 12px;
    }

    .title {
      text-align: right;
    }
  }

  .show-more {
    margin-top: 3px;

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: #2ecc71;
    background-color: #2ecc71;
    color: white;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    transition: all 430ms;

    &:hover {
      background-color: transparent;
      color: black;
    }
  }
}
</style>
