<template>
  <div class="krippenweg">
    <div class="content">
    <h1>Krippenweg</h1>
        <p>Jedes Jahr zur Weihnachtszeit stellt der Heimatverein Krippen an verschiedenen Orten in Igersheim aus. Die Krippen und ihre Geschichte werden im Rahmen eines Rundgangs erläutert. Der genaue Termin wird rechtzeitig über diese Website bekannt gegeben.</p>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.krippenweg {
  .content {
    margin: auto;
    
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
}
</style>