<template>
  <div class="museum">
    <div class="content">
      
    <h1>Museum</h1>
        <p>Das Heimatmuseum befindet sich im oberen Stock des Kulturhauses der Gemeinde neben der katholischen Kirche.</p>
        <p>In Neuses unterhält der Verein die Schmiede.</p>
        <p>Im Museum werden handwerkliche Gegenstände der Arbeitswelt verschiedener Handwerker aus früheren Jahren gezeigt.</p>
        <p>Das Museum ist von Ende März bis Ende September bis jeweils am zweiten und vierten Sonntag geöffnet.</p>
        <p>Im Museum wird jedes Jahr eine Sonderausstellung zu einem bestimmten Thema erarbeitet und gezeigt. Dabei reichen die Themen von Handwerk, Weinbau, Radiogeschichte, österliche Bräuche.</p>
        <div>
          <img class="image" src="../assets/museum_0.jpg"/>
          <img class="image" src="../assets/museum_1.jpg"/>
          <img class="image" src="../assets/museum_2.jpg"/>
        </div>
        <div>
          <img class="image" src="../assets/museum_3.jpg"/>
          <img class="image" src="../assets/museum_4.jpg"/>
          <img class="image" src="../assets/museum_5.jpg"/>
        </div>
        <div>
          <img class="image" src="../assets/museum_6.jpg"/>
          <img class="image" src="../assets/museum_7.jpg"/>
          <img class="image" src="../assets/museum_8.jpg"/>
        </div>
        <div>
          <img class="image" src="../assets/museum_9.jpg"/>
          <img class="image" src="../assets/museum_10.jpg"/>
          <img class="image" src="../assets/museum_11.jpg"/>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  
}
</script>
<style lang="scss" scoped>
.image {
  width: 23.333%;
  max-height: 25vh;
}

.museum {
  .content {
    margin: auto;
    
    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);

    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }
}
</style>
