<template>
  <div class="verein">
    <div class="content">
      
    <h1>Der Verein</h1>
        Der Verein entstand durch die Vorbereitungen zum Jubiläumsjahr 1990. Einige Mitglieder des Vereins waren bereits bei der Ausgestaltung des Jubiläumsfestes aktiv tätig. 
        Nach dem Jubiläumsfest waren viele Gegenstände und Ideen noch vorhanden, für die eine sinnvolle Verwendung gesucht wurde. Daraus entstand das Heimatmuseum. Um dieses unterhalten und betreuen zu können, bildete sich im Jahr 2004 der Verein.
        Der Verein arbeitet ehrenamtlich und ist gemeinnützig.
        Zum Verein gehören etwa 70 Mitglieder.
        Der Verein engagiert sich im Gemeindeleben und fördert die Erhaltung historischer Gebäude und Kleindenkmale.
        So könnten in den Jahren 2019 und 2020 insgesamt 8 Bildstöcke mit Mitteln des Vereins und Fördermitteln restauriert werden.
        Zum Jahresende organisiert der Verein einen Krippenweg und stellt vereinseigene und andere Krippen in verschiedenen Schaufenstern aus. Dazu bietet der Verein Führungen an.

        <div class="download">
            <button><font-awesome-icon :icon="['fa', 'download']"/> Mitgliedsantrag</button>
            <div class="download-list">
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Mitgliedsantrag.pdf')">Mitgliedsantrag.pdf</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Mitgliedsantrag.docx')">Mitgliedsantrag.docx</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Mitgliedsantrag.doc')">Mitgliedsantrag.doc</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Mitgliedsantrag.odt')">Mitgliedsantrag.odt</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Mitgliedsantrag.rtf')">Mitgliedsantrag.rtf</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Mitgliedsantrag.xps')">Mitgliedsantrag.xps</div>
            </div>
        </div>
        <div class="download">
            <button><font-awesome-icon :icon="['fa', 'download']"/> Satzung des Heimatvereins</button>
            <div class="download-list">
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Satzung des Heimatvereins.pdf')">Satzung des Heimatvereins.pdf</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Satzung des Heimatvereins.docx')">Satzung des Heimatvereins.docx</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Satzung des Heimatvereins.doc')">Satzung des Heimatvereins.doc</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Satzung des Heimatvereins.odt')">Satzung des Heimatvereins.odt</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Satzung des Heimatvereins.rtf')">Satzung des Heimatvereins.rtf</div>
              <div @click="download('https://files.deeprobin.de/Heimatverein%20Igersheim/Satzung des Heimatvereins.xps')">Satzung des Heimatvereins.xps</div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Home',
  components: {
  },
  methods: {
    download: function(url) {
      const a = document.createElement('a')
      a.href = url
      a.download = url.split('/').pop()
      document.body.appendChild(a)
      a.click()
      document.body.removeChild(a)
    }
  }
}
</script>

<style lang="scss" scoped>
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.verein {
  .content {
    margin: auto;

    border-radius: 4px;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.9);
    @media all and (orientation: landscape) {
      max-width: 50vw;
    }

    @media all and (orientation: portrait) {
      max-width: 90vw;
    }
  }

  .download {
    position: relative;
    margin: 12px;
    text-align: left;
    cursor: pointer;

    & > button {
      background-color: #34495e;
      color: #ffffff;
      border-style: none;
      padding: 15px 25px;
    }

    & > .download-list {
      visibility: hidden;
      width: 360px;
      background-color: #2c3e50;
      color: #ffffff;
      padding: 15px 25px;
      
      position: absolute;
      z-index: 1;

      & > div {
        text-align: left;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &:hover {
      & > button {
        background-color: #2c3e50;
      }

      & > .download-list {
        visibility: visible;
      }
    }
  }
}
</style>
