<template>
  <div class="add-entry" @submit.prevent="addEntry">
    <h1>Öffentlichen Kalendereintrag hinzufügen</h1>
    <form>
    <div>
      <input v-model="title" class="title-field" type="text" placeholder="Titel" required/>
    </div>
    <div>
      <input v-model="description" class="field" type="text" placeholder="Beschreibung (optional)"/>
    </div>
    <div>
      <input v-model="location" class="field" type="text" placeholder="Ort (optional)"/>
    </div>
    <div>
      <input v-model="startDate" class="field" type="date" placeholder="Startdatum" required/>
    </div>
    <div>
      <input v-model="startTime" class="field" type="text" placeholder="Startzeit" required/>
    </div>
    <div>
      <input v-model="endDate" class="field" type="date" placeholder="Enddatum" required/>
    </div>
    <div>
      <input v-model="endTime" class="field" type="text" placeholder="Endzeit" required/>
    </div>
    <div class="button-section">
        <input type="submit" value="Eintragen"/>
        <input type="submit" value="Abbrechen" @click="cancel"/>
    </div>
    </form>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import router from '../../router'
import { CalendarGateway } from '@/gateways/http/calendar.gateway';
import { ServerGateway } from '@/gateways/http/server.gateway';
export default Vue.extend({
  data: function () {
    const gateway = new ServerGateway()
    return {
        password: "",
        gateway,
        calendar: new CalendarGateway(gateway),
        title: "",
        description: "",
        location: "",
        startDate: "",
        startTime: "",
        endDate: "",
        endTime: ""
    }},
  methods: {
    addEntry: async function (){
      //await this.$store.dispatch("userModule/login", this.password)
      const startDay = Number.parseInt(this.startDate.split("-")[2]);
      const startMonth = Number.parseInt(this.startDate.split("-")[1]);
      const startYear = Number.parseInt(this.startDate.split("-")[0]);
      const startHour = Number.parseInt(this.startTime.split(":")[0]);
      const startMinute = Number.parseInt(this.startTime.split(":")[1]);
      const start = new Date(startYear, startMonth, startDay, startHour, startMinute, 0, 0);

      const endDay = Number.parseInt(this.endDate.split("-")[2]);
      const endMonth = Number.parseInt(this.endDate.split("-")[1]);
      const endYear = Number.parseInt(this.endDate.split("-")[0]);
      const endHour = Number.parseInt(this.endTime.split(":")[0]);
      const endMinute = Number.parseInt(this.endTime.split(":")[1]);
      const end = new Date(endYear, endMonth, endDay, endHour, endMinute, 0, 0);

      this.calendar.addEntry(start, end, this.title, this.description, this.location);

      router.push("/admin/dashboard");
    },
    cancel: async function (){
      router.push("/admin/dashboard");
    }
  },
  computed:{

  }
})
</script>

<style lang="scss" scoped>
.add-entry {
  .title-field {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #bdc3c7;

    transition: all 430ms;
    width: 20vw;
    margin-bottom: 24px;
    outline: none;

    &:focus {
      padding-left: 24px;
      padding-right: 24px;
      border-bottom-color: #3498db;
    }
  }

  .field {
    padding: 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 20vw;
    outline: none;
  }

  .button-section {
        margin: auto;
        margin-top: 24px;
        width: 20vw;
        cursor: pointer;
        display: flex;

        input[type=button], input[type=submit] {
            width: 50%;
            padding: 12px;
            background-color: #1abc9c;
            border-color: #1abc9c;
            border-style: solid;
            border-width: 1px;
            color: white;
            font-size: 14pt;
            transition: all 430ms;
            cursor: pointer;

            &:hover {
                color: black;
                background-color: transparent;
            }
        }
    }
}
</style>