<template>
    <div>
        <h1>Dashboard</h1>
        <div>Willkommen im Admin-Dashboard</div>
        <router-link to="/admin/add-entry">Kalendereintragung hinzufügen</router-link>
    </div>
</template>
<script>
export default {
    
}
</script>
<style lang="scss" scoped>

</style>