<template>
  <div class="login">
    <h1>Administrativer Login</h1>
    <form id="login-form" @submit.prevent="login">
        <div class="login-field" >
            <div>
                <font-awesome-icon :icon="['fa', 'user-tie']"/>
            </div>
            <input v-model="username" type="text" placeholder="Nutzername" required/>
        </div>
        <div class="login-field">
            <div>
                <font-awesome-icon :icon="['fa', 'key']"/>
            </div>
            <input v-model="password" type="password" placeholder="Kennwort" required/>
        </div>
        <input class="login-btn" type="submit" value="Login"/>
    </form>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import router from '../../router'
import { ServerGateway } from '@/gateways/http/server.gateway'
import { UserGateway } from '@/gateways/http/user.gateway';
export default Vue.extend({
  data: function () {
    const gateway = new ServerGateway();
    return {
        error: "",
        password: "",
        gateway,
        userGateway: new UserGateway(gateway),
    }},
  methods: {
    login: function (){
      this.userGateway.login(this.username, this.password).then((response) => {
        if(response.success) {
          this.$store.dispatch("userModule/login", response.accessToken)
          router.push("/admin/dashboard");
        } else {
          this.$swal("Authentifizierungsfehler", "Sie haben einen falschen Benutzernamen oder ein falsches Passwort eingegeben.", "error");
        }
      }).catch((reason) => {
        this.$swal("Interner Fehler", "Entweder Ihre Internetverbindung versagt oder ein Fehler in unserem System ist aufgetreten. <code>" + reason + "</code>", "error");
      });
      
    }
  },
  computed:{
    username: {
      get () { return this.$store.state.userModule.username },
      set (value) { this.$store.commit('userModule/setUsername', value) }
    },
    stayLoggedIn: {
      get () { return this.$store.state.userModule.stayLoggedIn },
      set (value) { this.$store.commit('userModule/setStayLoggedIn', value) }
    }
  }
})
</script>
<style lang="scss" scoped>
.login {
    margin: auto;
}

.error {
  border-style: solid;
  border-color: red;
  padding: 6px;
  background-color: white;
  color: black;
  border-radius: 8px;
}

.login-field {
    display: flex;
    border-style: solid;
    border-color: #bdc3c7;
    border-width: 1px;
    border-radius: 12px;
    width: 15vw;
    margin: auto;
    & > div {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #ecf0f1;
    }
    input[type=text], input[type=password] {
        padding: 12px;
        flex: 1;
        background-color: white;
        border-style: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}

.login-btn {
  margin-top: 4px;
  background-color: #9b59b6;
  border-color: #9b59b6;
  border-style: solid;
  border-width: 1px;
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  transition: all 430ms;
  color: white;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: black;
    background-color: transparent;
  }
}
</style>