<template>
  <div id="app">
    <div id="nav">
      <div id="nav-left">
        <router-link to="/">
          <div id="brand">
            <img src="./assets/brand.svg"/>
            Heimatverein Messklingenschlapp Igersheim e.V.
          </div>
        </router-link>
      </div>
      <div id="nav-center">
        <router-link class="nav-item" to="/verein">Verein</router-link>
        <router-link class="nav-item" to="/ausstellungen">Ausstellungen</router-link>
        <router-link class="nav-item" to="/bürgerbrotbacken">Bürgerbrotbacken</router-link>
        <router-link class="nav-item" to="/museum">Museum</router-link>
        <router-link class="nav-item" to="/bildstockwanderweg">Bildstockwanderweg</router-link>
        <router-link class="nav-item" to="/gassenfest">Gassenfest</router-link>
        <a href="javascript:void(0);" class="nav-item icon" @click="toggleNav()">
          <font-awesome-icon :icon="['fa', 'arrow-left']"/>
        </a>
      </div>
      <div id="nav-right">
        
      </div>
    </div>
    <router-view class="view"/>
    <div id="footer">
      <router-link class="footer-link" to="/impressum">Impressum</router-link>
      <router-link class="footer-link" to="/datenschutzerklärung">Datenschutzerklärung</router-link>
    </div>
  </div>
</template>


<style lang="scss">
@import '~sweetalert2/src/sweetalert2';

$primary-color: #82b72e;
$secondary-color: #3880a6;

$text-color: #000000;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background: url("./assets/background.jpg");
  background-size: cover;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text-color;
  height: 100%;

  .view {
    margin-top: 32px;
    font-size: 14pt;
    min-height: calc(100% - 32px - 24px - 4.1rem);
  }
}

#nav {
  background-color: $primary-color;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "nav-left nav-center nav-right";

  .icon {
    display: none;
  }

  @media screen and (max-width: 728px) {
    .icon {
      float: right;
      display: block;
    }
    
    display: block;

    a.nav-item {
      display: block;
    }

    #brand {
      display: none;
    }
  }

  #brand {
    display: flex;
    text-align: left;
    padding: 0;
    margin-left: 12px;
    max-height: 60px;
    display: flex;
    align-items: center;

    & > img {
      max-height: 3rem;
      display: inline;
    }
  }

  a {
    color: white;
    font-weight: 700;
    text-decoration: none;
  }

  a.nav-item {
    color: white;
    text-decoration: none;
    margin-left: 8px;
    margin-right: 8px;
    text-transform: uppercase;
    line-height: 27px;
    font-weight: 300;
    transition: all 500ms;

    &:hover, &.router-link-exact-active {
      text-decoration: underline;
    }
  }

  #nav-left {
    grid-area: nav-left;
    text-align: left;
  }

  #nav-center {
    grid-area: nav-center;
    margin: auto;
    text-align: center;
  }

  #nav-right {
    grid-area: nav-right;
    text-align: right;
  }

}

#footer {
  background-color: #34495e;
  width: 100%;
  text-align: center;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;

  .footer-link {
    text-decoration: none;
    color: white;
    margin-left: 6px;
    margin-right: 6px;
  }
}
</style>
